/* =========================================================
   Media Query: min-width 992px
   ========================================================= */
@media (min-width: 992px) {
  .books-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .admin-row {
    justify-content: start; /* وسط یا چپ چین */
  }
  .admin-card {
    font-size: 1rem;
  }
}

/* =========================================================
     Media Query: max-width 992px
     ========================================================= */
@media (max-width: 992px) {
  /* start about us style  */

  .about-us *:not(h1, h2, h3, h4, h5),
  .employ *:not(h1, h2, h3, h4, h5),
  .privacy *:not(h1, h2, h3, h4, h5),
  .rules *:not(h1, h2, h3, h4, h5),
  .shopping-guide *:not(h1, h2, h3, h4, h5) {
    font-size: 16px;
  }
  .about-us h1,
  .employ h1,
  .privacy h1,
  .rules h1,
  .shopping-guide h1 {
    font-size: 24px;
  }
  .about-us h2,
  .employ h2,
  .privacy h2,
  .rules h2,
  .shopping-guide h2 {
    font-size: 23px;
  }
  .about-us h3,
  .employ h3,
  .privacy h3,
  .rules h3,
  .shopping-guide h3 {
    font-size: 21px;
  }
  .about-us h4,
  .employ h4,
  .privacy h4,
  .rules h4,
  .shopping-guide h4 {
    font-size: 20px;
  }
  .about-us h5,
  .employ h5,
  .privacy h5,
  .rules h5,
  .shopping-guide h5 {
    font-size: 19px;
  }

  /* end about us style  */
  /* start contact us style  */

  .contact-us h1 {
    font-size: 24px;
  }
  .card-style .icon {
    font-size: 24px;
  }
  .card-style h5 {
    font-size: 17px;
  }

  /* end contact us style  */

  .banner {
    height: 200px;
  }

  .admin-row {
    grid-template-columns: 1fr; /* یک ستون */
    justify-items: center;
  }
  .social-section {
    display: none !important;
  }
  .books-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .admin-card {
    font-size: 1rem;
  }
  .footer-links {
    gap: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    background-color: var(--sidebar-bg);
    transition: right 0.3s ease;
    z-index: 1001;
  }
  .admin-row {
    flex-direction: column;
    align-items: center;
  }
  .admin-card {
    width: 90%;
  }
  .sidebar.sidebar-open {
    right: 0;
  }
  .categories-list {
    display: none !important;
  }

  .banner {
    height: 200px;
  }

  .header-fixed {
    height: 70px;
  }
  .main-pt {
    padding-top: 70px !important;
  }

  .product-details-name {
    font-size: 1.1rem;
  }
  .custom-name-query {
    font-size: 0.85rem;
  }

  /* تنظیم هدر */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: -350px; /* منو خارج از صفحه */
    width: 350px;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 1050;
  }

  .mobile-menu.open {
    left: 0; /* منو داخل صفحه */
  }

  .header-fixed .d-flex.align-items-center.gap-2 {
    justify-content: flex-end;
  }

  footer section.d-flex.justify-content-between.flex-wrap {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .admin-card {
    flex: 1 1 90%;
    max-width: 90%;
  }

  .header-auth-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  .social-section {
    flex: 1 1 35%;
    max-width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .social-section-title {
    margin-bottom: 0.5rem;
  }

  .social-section-icons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .auth-buttons > * {
    font-size: 0.8rem !important;
    padding: 0.25rem 0.5rem !important;
    border-radius: 6px !important;
  }

  .footer {
    background-color: #fff;
    border-top: 1px solid #e5e7eb;
    font-size: 0.875rem;
    color: #374151;
    margin-top: 2.5rem;
  }

  .footer-hr {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-top: 1.5rem;
  }

  .footer-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2.5rem 1rem;
  }

  .footer-description {
    flex: 1 1 300px;
    text-align: right;
    margin-bottom: 1rem;
  }

  .footer-links {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .footer-column-title {
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  .footer-column-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-column-item {
    margin-bottom: 0.5rem;
  }

  .footer-column-link {
    text-decoration: none;
    color: #4b5563;
  }

  .footer-column-link:hover {
    color: #111827;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .footer-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2px;
  }

  .footer-icon {
    font-size: 1.5rem;
    color: #4b5563;
  }

  .footer-icon:hover {
    color: #c773e9;
  }

  .footer-bottom {
    text-align: center;
    margin-top: 1.5rem;
    color: #6b7280;
    font-size: 0.75rem;
  }

  .footer-paragraph {
    font-size: 0.85rem;
    text-align: center;
  }

  .footer-column-item,
  .footer-social-title {
    font-size: 0.8rem;
  }

  .footer-social-icons a {
    font-size: 1.2rem;
  }
  .books-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

/* =========================================================
     Media Query: max-width 576px
     ========================================================= */
@media (max-width: 576px) {
  /* start about us style  */

  .about-us *:not(h1, h2, h3, h4, h5),
  .employ *:not(h1, h2, h3, h4, h5),
  .privacy *:not(h1, h2, h3, h4, h5),
  .rules *:not(h1, h2, h3, h4, h5),
  .shopping-guide *:not(h1, h2, h3, h4, h5) {
    font-size: 14px;
  }
  .about-us h1,
  .employ h1,
  .privacy h1,
  .rules h1,
  .shopping-guide h1 {
    font-size: 22px;
  }

  .about-us h2,
  .employ h2,
  .privacy h2,
  .rules h2,
  .shopping-guide h2 {
    font-size: 21px;
  }
  .about-us h3,
  .employ h3,
  .privacy h3,
  .rules h3,
  .shopping-guide h3 {
    font-size: 20px;
  }
  .about-us h4,
  .employ h4,
  .privacy h4,
  .rules h4,
  .shopping-guide h4 {
    font-size: 19px;
  }
  .about-us h5,
  .employ h5,
  .privacy h5,
  .rules h5,
  .shopping-guide h5 {
    font-size: 18px;
  }
  /* end about us style  */

  /* start FAQ page style  */

  .accordion-purple-border .accordion-header button {
    font-size: 14px;
  }

  /* end FAQ page style  */

  .admin-card {
    flex: 1 1 90%;
    max-width: 90%;
  }
  .product-details-name {
    font-size: 1rem;
  }
  .categories-list {
    display: none !important;
  }

  .banner {
    height: 150px;
  }

  .header-fixed {
    height: 70px;
  }

  .mobile-menu {
    left: -300px; /* منو خارج از صفحه */
    width: 300px;
  }

  .search-input {
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
  .header-cart {
    border-right: none;
  }
  .content-header-title span {
    font-size: 0.65rem;
  }
  .admin-card {
    width: 90%;
    margin-bottom: 1rem;
    font-size: 0.85rem;
  }

  .search-input {
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    font-size: 0.8rem;
  }

  .custom-name-query {
    font-size: 0.55rem !important;
  }
  .viwe {
    font-size: 0.45rem !important;
  }
  /* .content-wrapper {
    padding-top: 100px !important;
  } */
  .bg-singleProduct {
    margin-top: 70px !important;
  }
  .view {
    font-size: 0.65rem;
  }

  .footer-column-item,
  .footer-social-title {
    font-size: 0.8rem;
  }

  .footer-social-icons a {
    font-size: 1.2rem;
  }

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .admin-header {
    gap: 10px;
  }

  .admin-header h4 {
    font-size: 1rem;
  }
  .btn-custom-add {
    padding: 6px 18px;
    font-size: 0.7rem;
  }
  .btn-custom-edit,
  .btn-custom-delete,
  .btn-custom-file {
    padding: 2px 4px;
    font-size: 0.7rem;
    min-width: 24px;
    height: 24px;
  }
  .books-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .admin-header {
    gap: 10px;
  }
  .admin-header h4 {
    font-size: 0.8rem;
  }
  .admin-header .btn-custom-add {
    padding: 4px 12px;
    font-size: 0.5rem;
  }
  .btn-custom-edit,
  .btn-custom-delete,
  .btn-custom-file {
    padding: 2px 4px;
    font-size: 0.7rem;
    min-width: 24px;
    height: 24px;
  }
  .loading-text,
  .pagination-page {
    display: none !important;
  }
}

/* =========================================================
     Media Query: max-width 386px
     ========================================================= */
@media (max-width: 386px) {
  .admin-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .product-details-name {
    font-size: 0.9rem;
  }
  .content-header-title {
    font-size: 0.9rem;
  }
  .hamburger-icon {
    font-size: 8px;
  }
  .hamburger-btn {
    padding: 0;
    font-size: 18px;
    flex-shrink: 0;
  }

  .mobile-menu {
    left: -250px;
    width: 250px;
  }
  .search-wrapper {
    flex-grow: 1;
    max-width: calc(100% - 40px);
  }
  .admin-row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .custom-name-query {
    font-size: 0.45rem !important;
  }
  .viwe {
    font-size: 0.35rem !important;
  }
  .search-input {
    width: 100%;
    font-size: 12px;
    padding: 6px 28px 6px 8px;
  }
  .search-icon {
    right: 4px;
  }
  .search-input::placeholder {
    color: transparent;
  }
  .banner {
    height: 100px;
  }
  .admin-header h4 {
    font-size: 0.8rem;
  }
  .btn-custom-add {
    padding: 4px 12px;
    font-size: 0.5rem;
  }
  .btn-custom-edit,
  .btn-custom-delete,
  .btn-custom-file {
    padding: 1px 2px;
    font-size: 0.5rem;
    min-width: 18px;
    height: 18px;
  }

  .footer-top {
    display: block !important;
    text-align: center !important;
  }

  .footer-links {
    flex-direction: column !important;
    align-items: center !important;
    gap: 1rem !important;
  }
  .books-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .loading-text,
  .pagination-page {
    display: none !important;
  }
}
